<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Grid Tests - Dip Learn Academy" parallel="tests">

    <listeners>
        <listener class-name="co.dlacademy.ExtentTestNgFormatter"/>
    </listeners>

    <test name="Chrome Test" parallel="methods">
        <parameter name="browser" value="chrome" />
        <parameter name="value" value="pass" />
        <classes>
            <class name="co.dlacademy.SeleniumGridExample" />
        </classes>
    </test>

    <test name="Firefox Test" parallel="methods">
        <parameter name="browser" value="firefox" />
        <parameter name="value" value="pass" />
        <classes>
            <class name="co.dlacademy.SeleniumGridExample" />
        </classes>
    </test>

    <test name="Edge Test" parallel="methods">
        <parameter name="browser" value="edge" />
        <parameter name="value" value="pass" />
        <classes>
            <class name="co.dlacademy.SeleniumGridExample" />
        </classes>
    </test>

</suite>